<%- model_class = Image -%>
<div class="page-header">
  <h1>Discover</h1>
</div>
<div class="row mt-5">
    <% @images.each do |image| %>
    <div class="col-4">
      <div class="card">
        <%= image_tag(image.picture.url, { class: "card-img-top", alt: "thumbnail" })  %>
        <div class="card-header text-center"><strong><%= link_to(User.find(image.user_id).email, "#", class: "text-dark") %></strong></div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= image.name %></h5>
        </div>
        <div class="d-flex justify-content-around pb-3">
            <%= link_to t('.show', :default => t("helpers.links.show")),
              image_path(image), :class => 'btn btn-primary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_image_path(image), :class => 'btn btn-success' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      image_path(image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <% end %>
</div>
